/*** VIEW ON CHROME ON MACOS FOR PRINTING ***/
/* google font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Space+Mono|Oswald|Ubuntu');


/***** SCAFFOLDING *****/

body,
#name,
#contact,
#links,
#languages,
#projects,
#experience {
	border: 1px dashed gray;
}

#languages p {
	border: 1px solid purple;
}

/***** VARIABLES *****/
:root {
	--java-color: saddlebrown;
	--html-color: #c00;
	--css-color: darkmagenta;
	--javascript-color: #db0;
	--php-color: #45f;
	--shell-color: #2d2;
	--python-color: #0ac;
	--swift-color: darkorange;

	--banner-height: 1in;
	--banner-lowness: 0.5in;
	--spacing-amount: 0.25in;
	--effective-top: calc(var(--banner-lowness) + var(--spacing-amount) + var(--banner-height));
}


/***** LAYOUT *****/

* {
	padding: 0px;
	margin: 0px;
}

body {
	/* is one page! */
	width: 8.5in;
	height: 11in;
	box-sizing: border-box;
	/* border: 1px solid green; */
}

#picture {
	width: 1.5in;
	height: 1.5in;
	float: left;
	position: absolute;
	border-radius: 1in;
	left: 0.5in;
	top: calc(var(--banner-lowness) - 0.25in);
}

#banner {
	width: 8.5in;
	display: flex;
	justify-content: flex-end;
	top: var(--banner-lowness);
	height: var(--banner-height);
	position: absolute;
}

#name {
	width: 73.5%;
	text-align: center;
}

#name h1 {}

#name p {
	position: relative;
	right: 0.1in;
	top: -0.08in;
}

#side {
	width: 2in;
	clear: left;
	height: 100%;
	float: left;
	margin: 0in var(--spacing-amount);
	text-align: right;
	padding-top: var(--effective-top);
	box-sizing: border-box;
}

#side > * {
	margin: var(--spacing-amount);
}

#languages p {
	text-align: center;
	padding: calc(var(--spacing-amount) / 2);
	margin: calc(var(--spacing-amount) / 2) 0px;
	border-radius: calc(var(--spacing-amount));
}

main {
	padding-top: var(--effective-top);
	padding-right: var(--spacing-amount);
}

#links {}

#contact {}

#languages {}

#experience {}

.info h4 {}

.info p {}


/***** FONT & APPEARANCE SPECIFICS *****/

#name h1 {
	font-family: "Roboto", sans-serif;
	font-size: 46pt;
}

#name p {
	font-family: "Ubuntu";
	font-size: 14pt;
}

#side * {
	list-style: none;
}

h2 {
	font-size: 18pt;
	text-decoration: underline;
	font-family: "Roboto", sans-serif;
}

section h2 {
	text-align: center;
}

h3 {
	font-family: "Roboto";
	font-size: 15pt;
}

h3 a {
	font-family: "Oswald";
	font-weight: normal;
}

h4 {
	font-family: "Ubuntu";
	font-size: 12pt;
}

p {
	font-size: 11.5pt;
}

li {
	font-size: 13pt;
}

#languages {
	font-family: "Ubuntu";
}

#languages span {
	font-weight: bold;
}


/***** COLORS & SHADOWS *****/

#banner {
	background-color: #d2d2d2;
	color: #525252;
}

#side {
	background-color: #48cadb;
	color: #124367;
	box-shadow: -5px 0px 20px gray;
}

#languages p {
	color: white;
}

#picture {
	box-shadow: 0px 0px 20px black;
}

a {
	color: inherit;
}

span.java {
	color: var(--java-color);
}

span.html {
	color: var(--html-color);
}

span.css {
	color: var(--css-color);
}

span.javascript {
	color: var(--javascript-color);
}

span.php {
	color: var(--php-color);
}

span.shell {
	color: var(--shell-color);
}

span.python {
	color: var(--python-color);
}

span.swift {
	color: var(--swift-color);
}

p.java {
	background-color: var(--java-color);
}

p.html {
	background-color: var(--html-color);
}

p.css {
	background-color: var(--css-color);
}

p.javascript {
	background-color: var(--javascript-color);
}

p.php {
	background-color: var(--php-color);
}

p.shell {
	background-color: var(--shell-color);
}

p.python {
	background-color: var(--python-color);
}

p.swift {
	background-color: var(--swift-color);
}
