/*** VIEW ON CHROME ON MACOS FOR PRINTING ***/
/* google font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Space+Mono|Oswald|Ubuntu');

:root {
	--java-color: saddlebrown;
	--html-color: #c00;
	--css-color: darkmagenta;
	--javascript-color: #db0;
	--php-color: #45f;
	--shell-color: #2d2;
	--swift-color: darkorange;
}

body {
	/* is one page! */
	width: 8.5in;
	height: 11in;
	margin: 0px;
	padding: 0.5in;
	padding-top: 0.4in;
	box-sizing: border-box;
}

body * {
	padding: 0px;
	margin: 0px;
}

h1 {
	margin-bottom: 0.14in
}

section {
	margin-bottom: 0.25in;
}

section {
	text-align: justify;
}

section div {
	margin-top: 0.08in;
}

#links,
#contact,
#languages {
	float: right;
	clear: right;
	list-style: none;
	text-align: right;
}

#links {
	margin-top: 0.4in;
	margin-bottom: 0.2in;
}

#contact,
#languages {
	margin-bottom: 0.2in;
	margin-left: 0.3in;
}

#experience {
	width: 4in;
	float: left;
	margin-right: 0.4in;
}

#education,
#awards {
	text-align: center;
}

h1 {
	font-family: "Space Mono", sans-serif;
	font-size: 38pt;
}

h2 {
	font-size: 18pt;
	text-decoration: underline;
	font-family: "Roboto", sans-serif;
}

section h2 {
	text-align: center;
}

h3 {
	font-family: "Lato";
	font-size: 14.7pt;
}

h3 a {
	font-family: "Oswald";
	font-weight: normal;
}

h4 {
	font-family: "Ubuntu";
	font-size: 12pt;
	margin-left: 0.24in;
}

p {
	font-size: 11.8pt;
	margin-left: 0.14in;
}

li {
	font-size: 13pt;
}

a,
.link {
	color: inherit;
}

#projects {
	color: dimgray;
}

#experience {
	color: darkgray;
}

#education {
	color: gray;
}

#awards {
	color: darkgray;
}

#languages {
	font-family: "Ubuntu";
}

#languages span {
	font-weight: bold;
}

span.java {
	color: var(--java-color);
}

span.html {
	color: var(--html-color);
}

span.css {
	color: var(--css-color);
}

span.javascript {
	color: var(--javascript-color);
}

span.php {
	color: var(--php-color);
}

span.shell {
	color: var(--shell-color);
}

span.swift {
	color: var(--swift-color);
}

div.language {
	padding: 10px 15px;
	border-radius: 25px;
	border: 5px solid;
	border-color: none;
	height: auto;
	display: inline-block;
	float: right;
	clear: right;
	width: 3in;
}

div.language h3 {
	text-align: center;
	padding: 5px;
}

div.java {
	border-color: var(--java-color);
	background-color: rgba(var(--java-color), 1);
}

div.html {
	border-color: var(--html-color);
}

div.javascript {
	border-color: var(--javascript-color);
}

div.php {
	border-color: var(--php-color);
}

div.shell {
	border-color: var(--shell-color);
}

div.swift {
	border-color: var(--swift-color);
}
