/*** VIEW ON CHROME ON MACOS FOR PRINTING ***/
/* google font imports */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Space+Mono|Oswald|Ubuntu');


/***** SCAFFOLDING *****/

body,
#name,
#contact,
#links,
#languages,
#projects,
#experience {
	border: 1px dashed gray;
}

#top,
main,
#side {
	border: 1px solid red;
}

/***** VARIABLES *****/
:root {
	--java-color: saddlebrown;
	--html-color: #c00;
	--css-color: darkmagenta;
	--javascript-color: #db0;
	--php-color: #45f;
	--shell-color: #2d2;
	--python-color: #0ac;
	--swift-color: darkorange;
}


/***** LAYOUT *****/

* {
	padding: 0px;
	margin: 0px;
}

body {
	/* is one page! */
	width: 8.5in;
	height: 11in;
	box-sizing: border-box;
	/* border: 1px solid green; */
}

#picture {
	width: 1.5in;
	height: 1.5in;
	float: left;
	position: absolute;
	border: 1px solid blue;
	border-radius: 1in;
	left: 0.5in;
	top: 0.5in;
}

#top {
	width: 8.5in;
	display: flex;
	justify-content: flex-end;
	top: 0.75in;
	position: absolute;
}

#name {
	width: 70%;
	text-align: center;
}

#name h1 {}

#name p {
	position: relative;
	right: 0.1in;
	top: -0.08in;
}

#side {
	width: 2in;
	clear: left;
	height: 100%;
	float: left;
	margin: 0in 0.25in;
	text-align: right;
	padding-top: 2.25in;
	box-sizing: border-box;
}

#side > * {
	margin: 0.25in;
}

main {
	padding-top: 2in;
}

#links {}

#contact {}

#languages {}

#experience {}

.info h4 {}

.info p {}

/***** FONT & APPEARANCE SPECIFICS *****/

#name h1 {
	font-family: "Roboto", sans-serif;
	font-size: 46pt;
}

#name p {
	font-family: "Ubuntu";
	font-size: 14pt;
}

#side * {
	list-style: none;
}

h2 {
	font-size: 18pt;
	text-decoration: underline;
	font-family: "Roboto", sans-serif;
}

section h2 {
	text-align: center;
}

h3 {
	font-family: "Roboto";
	font-size: 15pt;
}

h3 a {
	font-family: "Oswald";
	font-weight: normal;
}

h4 {
	font-family: "Ubuntu";
	font-size: 12pt;
}

p {
	font-size: 11.5pt;
}

li {
	font-size: 13pt;
}

#languages {
	font-family: "Ubuntu";
}

#languages span {
	font-weight: bold;
}


/***** COLORS *****/

a {
	color: inherit;
}

span.java {
	color: var(--java-color);
}

span.html {
	color: var(--html-color);
}

span.css {
	color: var(--css-color);
}

span.javascript {
	color: var(--javascript-color);
}

span.php {
	color: var(--php-color);
}

span.shell {
	color: var(--shell-color);
}

span.python {
	color: var(--python-color);
}

span.swift {
	color: var(--swift-color);
}

div.java {
	border-color: var(--java-color);
	background-color: rgba(var(--java-color), 1);
}

div.html {
	border-color: var(--html-color);
}

div.javascript {
	border-color: var(--javascript-color);
}

div.php {
	border-color: var(--php-color);
}

div.shell {
	border-color: var(--shell-color);
}

div.swift {
	border-color: var(--swift-color);
}

/**/
